@charset "UTF-8";

body{
    background-color: #D6FFFE;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1 {
    color: #4CC7C5;
}
h2{
    color: #458584;
}

h1#principal{
    color: #FFDBC7;
    text-align: center;
    background-color: #D19979;
    padding: 20px;
    margin:0px;
}
p
{
    text-align: justify;
}

.basico {
 color: #012030;
}
.intermediario{
color:#13678A;
}
.avancado {
color: #74ad7b;
}