@keyframes animacao3{
    from{left:0;}
    to{left:200px; background-color: green;}
}

.animation-div3 {
    width: 100px;
    height: 100px;
    background-color: purple;
    position:relative;
    animation-name: animacao3;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}